:root {
	--primary-color: #007acc;
	--secondary-color: #6a757c;
	--bleeding: 0.5cm;
	--margin: 0.5cm;
}


@page {
    size: 21cm 29.7cm;
		margin: 0;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	padding: 0;
	background: rgb(204, 204, 204);
	display: flex;
	flex-direction: column;
	font-family: 'Poppins', sans-serif;
	font-size: lighter;
}

ul {
  list-style-type: none;
	padding-left: 0;
}

p {
	font-size: small;
}

a {
	text-decoration: none;
	color: inherit;
}

h5 {
	margin: 13px 0 0 0;
}

#page {
	display: inline-block;
	position: relative;
	height: 29.7cm;
	width: 21cm;
	font-size: 12pt;
	margin: 2em auto;
	padding: calc(var(--bleeding) + var(--margin));
	box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
	background: white;
}

@media screen {
	#page::after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
    width: calc(100% - var(--bleeding) * 2);
    height: calc(100% - var(--bleeding) * 2);
    margin: var(--bleeding);
    outline: thin dashed black;
    pointer-events: none;
    z-index: 9999;
	}
}

@media print {
	#page {
		margin: 0;
		overflow: hidden;
	}
}